*.log
*.apk
*.dll
PixelFreeCxx/release_ios/arm64/*
PixelFreeCxx/release_android/
SMBeautyEngine_andriod/pixelfree_android_demo/hapiAVCapture/build
SMBeautyEngine_andriod/pixelfree_android_demo/baseAVParam/build
*.text

